h1{
	color:#b84c65 ;
	font-size: 50px;
	font-style: ;
}

body{
	
	background-color:#f6ced6;
	background-image: url();
	background-size:150px ;
	background-repeat: repeat-y ;
	background-position: right ; 
}

p{
	color: #000000 ;
}

ul{
	list-style-type: none;
	background-color: #b84c65;
	overflow: hidden;

li a{
	float: left ;
	display: block;
	width: 100px;
	text-align: center;
	padding: 15px ;
	text-decoration: none;
	color: #000000;

}
li a:hover{
	background-color:#efa0af;
}

